body
{
	text-align:center;
	margin: 30px 0 15px 0;
}

p
{
	display: inline;
	border: solid rgb(0, 0, 0) 1px;
	padding: 5px 10px;
}
h1, h3
{
	text-align:center;
}
h3
{
	background-color:black;
	color:white;
	font-size:0.9em;
	margin-bottom:0px;
}
.news p
{
	background-color:#CCC;
	margin-top:0px;
}
.news
{
	width:70%;
	margin:auto;
}

a
{
	text-decoration: none;
	color: blue;
}

input
{
	margin: 10px 0px;
}

textarea
{
	overflow: auto;
	resize: none;
	margin-top:5px;
}

#admin
{
	text-align:right;
}

#admin a
{
	color:red;
}

#menu_admin a
{
	color:red;
}
